{% extends 'layout.html.twig' %}


{% block stylesheet %}
    {{ parent() }}
  <link href="/assets/css/edition.css" rel="stylesheet">
{% endblock %}


{% block content %}
  <div class="row">
    <h1 class="col-12">Edit beast informations</h1>
  </div>

  {% if messages|length > 0 %}
    <div class="row danger">
      <p class="col-12">
        Errors met:
      </p>
    </div>

      {% for msg in messages %}
        <div class="row danger">
          <p class="col-12">
              {{ msg }}
          </p>
        </div>
      {% endfor %}
  {% endif %}

  <div class="row">
    <form class="col-12" method="post">
      <input type="submit" name="delete" value="delete" class="float-right danger">
    </form>
  </div>
  <div class="row">
    <div class="col-12">
      {% include 'Beast/_form.html.twig' %}
    </div>
  </div>
  <div class="row">
    <a href="/beasts">Back</a>
  </div>
{% endblock %}


{% block javascript %}
  {{ parent() }}

  {# datas send to client JS #}
  <script>
    {# edited beast name or null if none #}
    editedBeastName = {{ editedBeastName|raw }};
    {# for validating new names against existing ones #}
    beastList = {{ beastList|raw }};
  </script>

  <script src="/js/BeastEdition.js" async></script>
{% endblock %}
